.navbar-brand{
    padding-top:0px;
}

.title{
    font-family: Lucida Handwriting, cursive;
    text-align: center;
    color: #1890c8;
    text-shadow: 3px 3px 4px #7f7d7d;
}

img[src="media/luffyReadyForWorld.jpg"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

img:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.mainPageTitle{
    text-align: center;
    font-family: "Copperplate";
    text-shadow: 3px 3px 4px #7f7d7d;
}
